.Custom {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.CustomHeader {
  display: flex;
  padding: 1rem;

  border-bottom: 1px solid orange;
  justify-content: space-around;
}

.Custom__SlotListItem input {
  display: inline-block;
  border: none;
  outline: none;
}
.CustomHeader > div,
.Custom__SlotListItem > input {
  width: 25%;
  padding: 0.5rem 1rem;
  text-align: center;
  box-sizing: border-box;
}

.CustomHeader > div:first-child,
.Custom__SlotListItem > input:first-child {
  width: 50%;
  box-sizing: border-box;
}

.Custom__SlotList {
  margin-bottom: 1rem;
}
.Custom__SlotList input:hover {
  border-bottom: 1px solid black;
}

.Custom__SlotListItem {
  display: flex;
  border-bottom: 1px dashed orange;
  justify-content: center;
}

.AddNewDateBtn{
    border: none;
    outline:none;
    padding: 1rem;
    font-weight: bold;
}
