.Weekly {
    display: flex;
    flex-direction: column;
  }
  
  .DaysList {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    padding: 1rem;
    justify-content: space-around;
  }
  
  .DaysList > div {
    height: 40px;
    width: 40px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid white;
    padding: 0.5rem;
  }
  
  .DaysList > div:hover {
    border: 1px solid rgb(0, 110, 255);
  }
  
  .Selected {
    background-color: #FFD300;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
    padding:1em;
    border-radius: 50%;
    text-align: center;
  }
  
  .Selected:hover {
    cursor: pointer;
  }
  
  .unselected {
    background-color: rgba(128, 128, 128, 0.3);
    padding:1em;
    border-radius: 50%;
    text-align: center;
  }
  
  .unselected:hover {
    cursor: pointer;
  }
  
  