@media only screen and (max-width: 600px)
{
    .xyz{
        width: 100%;
        text-align: center;
        margin: 1%;
        overflow-x: auto;
        overflow-y: auto;
    }
}
@media only screen and (min-width: 601px)
{
    .xyz{
        width: 60%;
        margin: 5% 16%;
        text-align: center;
        overflow-x: auto;
        overflow-y: auto;
        
    }
}
